[submodule "calibration_gazebo"]
	url = https://github.com/oKermorgant/calibration_gazebo.git
[submodule "gazebo_ros_demos"]
	url = https://github.com/ros-simulation/gazebo_ros_demos.git
[submodule "image_pipeline"]
	url = https://github.com/ros-perception/image_pipeline
[submodule "navigation"]
	url = https://github.com/ros-planning/navigation.git
[submodule "slam_gmapping"]
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "slider_publisher"]
	url = https://github.com/oKermorgant/slider_publisher.git
[submodule "obstacle_detection/obstacle_detector"]
	url = https://github.com/tysik/obstacle_detector.git
