<?xml version="1.0"?>


<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="camera_angle" value="${70 *M_PI/180}" /><!--angle measured from horizontal downwards-->
	<xacro:property name="camera_hight" value="${0.6-0.10125}" /><!--since this is relative to the base_link we have to substract 0.10125 from the hight we want-->
	<xacro:property name="camera_xoffset" value="0.18" />
	
	<xacro:macro name="camera" params="parent">

		<!-- Camera -->
		<link name="camera_link">
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
			    <geometry>
					<box size="0.05 0.05 0.05"/>
			  	</geometry>
			</collision>
			<visual>
			    <origin xyz="0 0 0" rpy="0 0 0"/>
			    <geometry>
					<box size="0.05 0.05 0.05"/>
			    </geometry>
			</visual>
			<inertial>
			    <mass value="1e-5" />
			    <origin xyz="0 0 0" rpy="0 0 0"/>
			    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
			</inertial>
		</link>
		
		<joint name="camera_joint" type="fixed">
			<axis xyz="0 1 0"/>
		    <origin xyz="${camera_xoffset} 0 ${camera_hight}" rpy="0 ${camera_angle} 0"/>
		    <parent link="${parent}"/>
		    <child link="camera_link"/>
		</joint>
	</xacro:macro>
  
  
</robot>
