<?xml version="1.0"?>
<robot name="arlobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <!-- Loading config for arlo and all sensors -->
  
  <xacro:include filename="$(find Simulation)/urdf/camera.urdf.xacro"/>
  <xacro:include filename="$(find Simulation)/urdf/lidar.urdf.xacro"/>
  <xacro:include filename="$(find Simulation)/urdf/imu.urdf.xacro"/>
  <xacro:include filename="$(find Simulation)/urdf/arlo_stack.urdf.xacro"/>
  
  <!-- ArloBot -->
  <xacro:arlobot/>
    
  <!--sensor init define parent frame here-->
  <xacro:lidar parent="base_link"/>
  <xacro:camera parent="base_link"/>
  <xacro:imu parent="base_link"/>
  
  <!-- sensor/actor plugins init -->
  <xacro:include filename="$(find Simulation)/urdf/arlobot.gazebo"/>
  
  <!--adding one additional plate-->
  <xacro:stack_circles parent="base_link"/>
  
  
</robot>