<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<param name="/use_sim_time" value="true"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find Simulation)/urdf/common_default.urdf.xacro'" />
    <arg name="x" default="0"/>
    <arg name="y" default="-0.45"/>
    <arg name="z" default="0"/>

    <!--  node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="TRUE"/>
    </node-->

    <node name="robot_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find Simulation)/launch/Simulation_rviz_config.rviz" />

    <!--node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering"/-->
    

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find Simulation)/urdf/common_default.urdf.xacro'" />

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model Arlo -x $(arg x) -y $(arg y) -z $(arg z)"/>
	<include file="$(find arlo_navigation)/launch/laser_filter.launch"/>
	<include file="$(find arlo_navigation)/launch/robot_localization.launch"/>
    <!-- include file="$(find Simulation)/launch/arlo_gmapping.launch"/-->
    <include file="$(find Simulation)/launch/cartographer.launch"/>
    
    <include file="$(find road_detection)/launch/detectionOnly.launch"/>
    <node name="markfreespace" pkg="arlo_navigation" type="markfreespace" output="screen" />
    <!-- include  file="$(find Simulation)/launch/Arlo_costmap.launch"/-->
    
    <!-- navigation stack launch -->
    
	<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />
		<param name="clearing_rotation_allowed" value="False" />
		<!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/-->
		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />/>
	    <rosparam file="$(find arlo_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
	    <rosparam file="$(find arlo_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find arlo_navigation)/config/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find arlo_navigation)/config/global_costmap_params.yaml" command="load" /> 
	    <!--rosparam file="$(find arlo_navigation)/config/dwa.yaml" command="load"/-->
	    <rosparam file="$(find arlo_navigation)/config/base_local_planner_params.yaml" command="load"/>
	</node>
	<node name="posefinder" pkg="arlo_navigation" type="posefinder" output="screen"/>

</launch>
